{% extends 'sidebar.html' %}
{% load static %}
{% block content%}

<html>
    <head>
        <title>low price</title>
        <link href="{%static 'css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{%static 'icofont/icofont.min.css ' %}" rel="stylesheet">
    </head>

    <body>

        
        <center>
            <h1 >Bitcoin low Price</h1>
        <div clas="container">
            <div class="row">
                <div class="col-4 mt-4">
                    <div class="card" style="width: 18rem;">
                        <img src= {%static "images/d.jpg" %} class="card-img-top" >
                        <div class="card-body">
                          <h5 class="card-title">low price for a particular year</h5>
                         
                           <a href="{% url 'lowpriceforyears' %}" class="btn btn-outline-primary">view analysis</a> 
                        </div>
                      </div>


                </div>


                <div class="col-4 mt-4">
                    <div class="card" style="width: 18rem;">
                        <img src= {%static "images/coin.jpg" %}   class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">low price for a range of years</h5>
                      
                          <a href=" {% url 'lowpriceforyear' %}" class="btn btn-outline-primary">view analysis</a> 
                          
                        </div>
                      </div>
                </div>

<div class="col-4 mt-4">

    <div class="card" style="width: 18rem;">
        <img src= {%static "images/hr.jpg" %}  class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">low price  for candle graph</h5>
         
         
       <a href="{% url 'lowpricecandlegraph' %}" class="btn btn-outline-primary">view analysis</a> 
        </div>
      </div>
</div>




            </div>
         </div>           


</center>

           







        </div>
     </div>           


</center>







{% endblock %}