{% extends 'base.html'%}
{% block content %}
{% load static %}




<html>
    <head>
        <title>register page </title>
        <link href="{%static 'css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{%static 'icofont/icofont.min.css ' %}" rel="stylesheet">

</head>


<body>
    <div class="row pt-5 pb-5 bg-info " data-aos="fade-up-right">
        <div class="col-md-12 text-center pt-5 pb-5">
            <p>HOME-CONTACT</p>
            <h1>CONTACT</h1>
        </div>
    </div>


    <div style="background-image: url({%static 'images/background.jpg' %}); background-size: cover;">
  <div style="background:rgba(0, 0, 0, 0.75)" class="row  text-light p-5 " >



    <hr>
    <div class="container">
    <div class="row">
        <div class="col-6 mt-3"  data-aos="fade-up">
            <!-- <div class="image"> -->
            <img src= {%static "images/cryptobg.png" %} width="500" height="553">

        </div>
      


        <div class="col-6 mt-3"  data-aos="flip-up">
            <div class="text-light pt-5 ">
                <h6 class="text-info">LET'S TALK</h6>

                <br>
                <h1> Need Help? Don't hesitate to contact us.</h1>
                <br>
                <p>  our website deals with crypto currency </p>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam, cumque facere? Maxime alias ipsum
                        odit vel delectus nobis rem quia magnam possimus expedita sequi, aut illum consequatur commodi
                        perferendis dicta</p>

                <hr>
                <div class="row">
                    <div class="col-6">
                        <i class="icofont-envelope icofont-3x p-2" style="color:aqua"></i>
<h3> email-us</h3>
                        <p>cryptocurrency1617@gmail.com</p>

                    </div>
                    <div class="col-6">
                        <i class="icofont-ui-call icofont-3x p-2 " style="color:aqua"></i>
                        <h3> call-us</h3>
                        <p>+5322837263</p>
                    </div>
                </div>


                <div class="col-6">


                </div>
            </div>
        </div>
    </div>
</div>
    <div class="row mt-5">
        <div class="col-12" data-aos="flip-down">


            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13590.938148322808!2d74.91805380290648!3d31.613733036737898!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39197d226a8b1bb7%3A0xa80e5cb58a62a1c1!2sNew%20Amritsar%20Colony%2C%20Amritsar%2C%20Punjab!5e0!3m2!1sen!2sin!4v1687246695377!5m2!1sen!2sin"
                width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>

        </div>
    </div>
    

    <div class="container">
        <div class="row">
            <div class="col-6 p-5" data-aos="flip-left">


                <h5><b>office</b></h5>
                <h2>visit our office to get more information.</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint dolorum distinctio ad quidem
                    easperiores dolorem porro ducimus.</p>
                <br>
                <div class="row">
                    <div class="col-2 pt-3 text-end">
                        <i class="icofont-location-pin icofont-3x" style="color:aqua"></i> 
                    </div>
                    <div class="col-10">
                        <h3 class >england</h3>
                        <p>jin cempaka  <br/>indones</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-2 pt-3 text-end">
                        <i class="icofont-location-pin icofont-3x" style="color:aqua"></i> 
                    </div>
                    <div class="col-10">
                        <h3>india </h3>
                        <p>maret place<br/>indonesia</p>
                    </div>
                </div>
              

                
            </div>
            <div class="col-6 p-5" data-aos="flip-right">
                <form>
                <h6>SEND US A MESSAGE</h6>
                <h2>
                    LET'S ESTABLISH RELATIONS
                </h2>
                <P>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi aperiam quo cupiditate voluptas
                    fugit perspiciatis omnis, cumque assumenda magni laudantium aliquid consequuntur exercitationem nam
                    culpa, ullam vitae sed temporibus porro?</P>

                    <input type="text" placeholder="name" name="" class="form-control" required>
                <br>   
                    <input type="email" placeholder=" email " name="" class="form-control" required>
                    <br>
                    <input type="phone number" placeholder="phone number" name="" class="form-control" required>
                    <br>
                    

             <center>
                    <button class="btn btn-warning form-control rounded-pill" >submit</button>
                    </center>
                </form>
            </div>
        </div>
    </div>









    <!-- <i class="icofont-user icofont-2x bg-primary  p-2 rounded-pill" style="position: absolute; margin-top: -65px; margin-left: 120px;" ></i> -->














</body>

</html>
{% endblock %}