{% extends 'sidebar.html' %}
{% load static %}
{% block content%}

<html>
    <head>
        <title>doge volume</title>
        <link href="{%static 'css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{%static 'icofont/icofont.min.css ' %}" rel="stylesheet">
    </head>

    <body>

        
        <center>
            <h1 >Doge Volume </h1>
        <div clas="container">
            <div class="row">
                <div class="col-4 mt-4">
                    <div class="card h-100" style="width: 18rem;">
                        <img src= {%static "images/my.jpg" %} class="card-img-top" height="170px">
                        <div class="card-body">
                          <h5 class="card-title">Volume for particular year</h5>
                         
                           <a href="{% url 'dvoloneyear' %}" class="btn btn-outline-primary">view analysis</a> 
                        </div>
                      </div>


                </div>


                <div class="col-4 mt-4">
                    <div class="card h-100" style="width: 18rem;">
                        <img src= {%static "images/link.png" %}   class="card-img-top" alt="..." height="170px">
                        <div class="card-body">
                          <h5 class="card-title">Volume for range of years</h5>
                      
                          <a href="{% url 'dvoltwoyear' %}" class="btn btn-outline-primary">view analysis</a> 
                        </div>
                      </div>
                </div>

<div class="col-4 mt-4">

    <div class="card h-100" style="width: 18rem;">
        <img src= {%static "images/dy.jpg" %}  class="card-img-top" alt="..." height="170px">
        <div class="card-body">
          <h5 class="card-title">Volume for candle year</h5>
         
         
       <a href="{% url 'dvolcandleyear' %}" class="btn btn-outline-primary">view analysis</a> 
        </div>
      </div>
</div>




            </div>
         </div>           


</center>

           







        </div>
     </div>           


</center>







{% endblock %}