{% extends 'sidebar.html' %}
{% block content%}

<!doctype html>
<html>

<head>

  <title>eclosetwoyear</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>

<body>



  <div class="container">
    <div class="row">
      <div class="col-4"></div>
      <div class="col-4 text-light">

        <form method="POST" action="">
         
          {% csrf_token %}
          <p>{{succ}}</p>
       
          <center>

            <h1 class="mb-4 mt-5 text-center">Analyse the price for range of years</h1>
            <hr>
            <select name="year1" id="month" class="mb-1 form-control">
              <!-- <option hidden> --select--</option>-->
              <option hidden> --starting year--</option>
                 <option value="2017">2017</option>
                 <option value="2018">2018</option>
                 <option value="2019">2019</option>
                 <option value="2020">2020</option>
                 <option value="2021">2021</option>
                 <option value="2022">2022</option>
                 
             </select>
             


<br>

<!-- <label> Ending year</label> -->
<select name="year2" id="month"  class="mb-1 form-control">
  <!-- <option hidden> --select--</option> -->
  <option hidden> --ending year--</option>
     <option value="2017">2017</option>
     <option value="2018">2018</option>
     <option value="2019">2019</option>
     <option value="2020">2020</option>
     <option value="2021">2021</option>
     <option value="2022">2022</option>
     
 </select>
 <br>




          <center><button class="text-center btn btn-warning rounded" type="submit" style="">analyse</button></center>
       
        </form>
       
        </form>
      </div>
    </div>
  </div>
  </div>
  
</body>

</html>


{% endblock %}