{% extends 'sidebar.html' %}
{% load static %}
{% block content%}

<html>
    <head>
        <title>ethruim low Price</title>
        <link href="{%static 'css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{%static 'icofont/icofont.min.css ' %}" rel="stylesheet">
    </head>

    <body>

        
        <center>
           <h1>Ethrium Low Price</h1>
        <div clas="container">
            <div class="row">
                <div class="col-4 mt-4">
                    <div class="card h-100" style="width: 18rem;">
                        <img src= {%static "images/coll.png" %} class="card-img-top"  height="160px">
                        <div class="card-body">
                          <h5 class="card-title">low price for a particular year</h5>
                         
                           <a href="{% url 'elowoneyear' %}" class="btn btn-outline-primary">view analysis</a> 
                        </div>
                      </div>


                </div>


                <div class="col-4 mt-4">
                    <div class="card h-100" style="width: 18rem;">
                        <img src= {%static "images/copy.png" %}   class="card-img-top" alt="..." height="160px">
                        <div class="card-body">
                          <h5 class="card-title">low price for a range of years</h5>
                      
                          <a href="{% url 'elowtwoyear' %}" class="btn btn-outline-primary">view analysis</a> 
                        </div>
                      </div>
                </div>

<div class="col-4 mt-4">

    <div class="card h-100" style="width: 18rem;">
        <img src= {%static "images/deck.avif" %}  class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">low price  for candle graph</h5>
         
         
       <a href="{% url 'elowcandleyear' %}" class="btn btn-outline-primary">view analysis</a> 
        </div>
      </div>
</div>




            </div>
         </div>           


</center>

           







        </div>
     </div>           


</center>







{% endblock %}