{% extends 'base.html' %}
{% load static %}
{% block content %}



<div style="background-image: url({%static 'images/background.jpg'  %}); background-size: cover;">
  <div style="background:rgba(0, 0, 0, 0.75)"
  <div class="row  text-light p-5 " >



<div class="container">
   <div class="row"> 
   {%  for i in data %}

      <div class="col-4 mt-4 pr-5"   data-aos="flip-right"> 
            <div class="card h-60" style="width: 18rem;">
            <img src="{{i.image.url}}" class="card-img-top" alt="error" height="200px" width="200px">
            <div class="card-body">
              <h3 class="card-title"><b><center>{{i.title|truncatechars:20}}</center></b></h3>
              <p class="card-writer">{{i.contact|truncatechars:20}}</p>
              <p class="card-description">{{i.description|truncatechars:1000}}</p>
              <h4 class="card-name"><i>{{i.writer|truncatechars:20}}</i></h4>
              <h5 class="card-email">{{i.email|truncatechars:1000}}</h5>
             
            
            </div>
</div>
</div>
            
            
            {% endfor %} 
      </div>
  </div>
</div> 

{% endblock %} 